<html>
    <head>
        <title>Welcome to my beautiful page.</title>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.0.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/imagesloaded.pkgd.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/underscore-min.js') }}"></script>
        <link rel="stylesheet" style="text/css" href="{{ url_for('static', filename='css/fotto.css') }}" />

    </head>
    <body>
        <h1>Base Layout Template</h1>
        {% block content %}

        {% endblock %}
    </body>
    <script type="text/javascript" src="{{ url_for('static', filename='js/fotto.js') }}"></script>
</html>
