#masonry_container
{
    position: relative;
    top: 0px;
    left: 0px;
}

#lightbox
{
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

.item
{
    height: 200px;
    float: left;
    border: 5px solid #aaaaaa;
    padding: 5px;
}

img.resize
{
    height: 100%;
    width: auto%;
}

.centered
{
    height: auto;
    width: auto;
}

