#masonry_container
{
    position: relative;
    top: 0px;
    left: 0px;
}
.item
{
    height: 200px;
    position: absolute;
    top: 0px;
    left: 0px;
}

img.resize
{
    height: 100%;
    width: auto;
}

